body{
 
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


}
header, .alert{
 
  z-index: 100;
}
main{
  background: linear-gradient(-45deg, white, transparent)
}
.logo{
  display:block;
  margin: auto;
  margin-bottom: 50px;
}


}
.description{
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}
.description:hover{
  height: 80px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}
.card shadow mb-1 bg-dark {
  background: red;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

#modal {
    width: 400px;
    height: 400px;
    background-image: 
    border-radius: 15px;
    padding: 20px;

}

.modal-active {
    visibility: visible;
    opacity: 1;
}
.abrir{
  background-color:#4375FA;
  border-radius: 5px;
  color:white;
  margin-left: 100px;
  text-decoration: none;
}
h2.subT{
  color:#FFF;
  text-shadow: 2px 2px #ff55;
}

#pagar{
  color:white;
  background-color:green;
}
.table{
  border-radius: 5px;
  border-style: solid;
  border-color: black;
   background-color:#BCD0FffF;
}
tr{
  color:white;
  font-size: 15px;
  font-weight: bold;
 
}
thead{
  background-color:#BCD0FF;
}
.as1{
  color:white;
  font-size: 25px;
}
.pA{
  color:#FF00B2;
  font-size: 15px;
}
.pro1{
   text-decoration: none;
   color:black;
  font-size: 15px;
  border-radius: 50px;
  background-color: transparent;
}
.inicio{
  color:#ffff;
  font-size: 15px;
  font-weight: bold;

}
tr{
  margin: 0px;
}
.text-primary{
  margin: 0px;
}